/* Стили для изменения размера CKEditor 5 */
.ck.ck-editor__main {
    width: 100%;
}

.ck.ck-editor__editable {
    height: 700px;
    padding: 5%;
    overflow-y: auto;
    box-sizing: border-box;
}

.views {
    position: absolute;
    bottom: 10%;
    right: 5%;
}

.articleTitle {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

