<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{pageName}}</title>
</head>
<body>
    <header class="container-fluid bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="nav-brand" href="{{ url_for('index') }}">
            <h1 class="navbar-brand">Project</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="list-item active"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                <li class="list-item"><a class="nav-link" href="{{ url_for('singup') }}">Sing Up</a></li>
                <li class="list-item"><a class="nav-link" href="{{ url_for('usersGet') }}">Users List</a></li>
                <li class="list-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                <li class="list-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                <li class="list-item"><a class="nav-link" href="{{ url_for('new_article') }}">New Article</a></li>
            </ul>
        </div>
    </nav>
    </header>
<div class="container mt-5">