<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.ckeditor.com/ckeditor5/40.1.0/classic/ckeditor.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>{{pageName}}</title>
</head>
<body>
    <header class="container-fluid bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="nav-brand" href="{{ url_for('main.index') }}">
            <h1 class="navbar-brand">Project</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="list-item active"><a class="nav-link" href="{{ url_for('main.index') }}">Home</a></li>
                <li class="list-item nav-link">|</li>
                {% if not current_user.is_authenticated %}
                    <li class="list-item"><a class="nav-link" href="{{ url_for('user.singup') }}">Sing Up</a></li>
                    <li class="list-item"><a class="nav-link" href="{{ url_for('user.login') }}">Login</a></li>
                {% else %}
                    <li class="list-item"><a href="{{ url_for('user.user', username=current_user.username) }}" class="nav-link">{{current_user.username}}</a></li>
                {% endif %}
                <li class="list-item nav-link">|</li>
                <li class="list-item"><a class="nav-link" href="{{ url_for('articles.new_article') }}">New Article</a></li>
                
                {% if current_user.username == 'root' %}
                    <li class="list-item nav-link">|</li>
                    <li class="list-item"><a class="nav-link" href="{{ url_for('user.usersGet') }}">Users List</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    </header>
    <!-- Sidebar --><!-- Sidebar --><!-- Sidebar --><!-- Sidebar -->
    <div class="container-fluid">
    <div class="row">
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar fixed-top">
            <h5 style="color:lightblue">themes:</h5>
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    {% for theme in themes %}
                        <li class="nav-item">
                            <a href=" {{url_for('main.theme', themelink=theme.link)}} ">{{ theme.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
    </div>
    <!-- Sidebar --><!-- Sidebar --><!-- Sidebar --><!-- Sidebar -->
    <!-- Content --><!-- Content --><!-- Content --><!-- Content -->

    <main id="main" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">