{% include 'header.html' %}

<h2 class="text-center mb-4">Last News</h2>

<ul class="list-group">
    {% for card in news %}
        <li class="list-group-item">
            <div class="card">
                <div class="d-flex w-100 justify-content-between">
                    <img src="{{ url_for('static', filename=card.image) }}" class="card-img-top" alt="Image 1" width="500" height="300">
                    <div class="card-body">
                        <a href="{{url_for('article', id=card.id)}}"><h5 class="card-title">{{ card.title }}</h5></a>
                        <p class="card-text">{{ card.description }}</p>
                        <div class="views">
                            <small>Просмотров: {{ card.views }}</small>
                            <img src="{{ url_for('static', filename='images/oko.png') }}" alt="Image 2" width="25" height="20">
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
{% if news_amount > ARTICLES_PER_PAGE %}
    <ul class="pagination justify-content-center">
        {% if news_page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('index', page=news_page-1) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for page_num in range(1, (news_amount // ARTICLES_PER_PAGE) + 1) %}
            <li class="page-item {% if news_page == page_num %}active{% endif %}">
                <a class="page-link" href="{{ url_for('index', page=page_num) }}">{% if news_page == page_num %}◉{% else %}{{ page_num }}{% endif %}</a>
            </li>
        {% endfor %}

        {% if news_page <= (news_amount // ARTICLES_PER_PAGE) %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('index', page=news_page+1) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
{% include 'footer.html' %}