{% include 'header.html' %}

<div class="row justify-content-center">
<div class="col-md-6">
    <h2 class="text-center mb-4">New article</h2>

    <form method="post" action="{{ url_for('new_article') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" required/><br>
        </div>
        <div class="form-group">
            <label for="file">Image:</label>
            <input type="file" class="form-control" name="file" accept=".png, .jpg .jpeg .gif" required/><br>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" name="description" row="4" required></textarea><br>
        </div>
        <div class="form-group">
            <label for="content">Text:</label>
            <textarea class="ckeditor" name="content" id="content" row="8"></textarea><br>
        </div>
        <div class="form-group">
            <label for="author">Author:</label>
            <input type="text" class="form-control" name="author" required/><br>
        </div>
        <p class="text-danger">{{ message }}</p>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
</div>
<script>
    ClassicEditor
        .create(document.querySelector('.ckeditor'))
        .catch(error => {
            console.error(error);
        });
</script>
{% include 'footer.html' %}