{% include 'header.html' %}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th> Reg. Date </th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3].strftime("%Y-%m-%d") }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'footer.html' %}